<!DOCTYPE html>
<html>
    <head>
      <title>Balanced Skin Tips</title>
      <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
      
      </head>
    <body>
      <p> class="balanced_skin"</p>
      <p>You have balanced skin! Please see some tips below to best take care of your skin and have a healthy glow.</p>
      <h2>What exactly does it mean?</h2>
      <h3>The T-zone (forehead, chin and nose) may be a bit oily, but overall sebum and moisture is balanced and the skin is neither too oily nor too dry.</h3>
      <p class= "tips">
        <img src="http://www.laroche-posay.com/article/10-golden-rules-to-help-you-take-care-of-your-skin-on-an-everyday-basis/a248.aspx">
        </p>
    </body>

</html>
