<!DOCTYPE html>
<html>
    <head>
      <title>Combinational Skin Tips</title>
      <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
      </head>
    <body>
      <p class="combinational_skin"></p>
      <h2>You have combinational skin! Please see some tips below to best take care of your skin and have a healthy glow.</h2>
      <h2>What exactly does it mean?</h2>
      <h1></h1>
      <p class= "tips">
        <img src="https://media.dermstore.com/images/landing_pages/3218/face-makeup.jpg"/>
        </p>
    </body>
</html>
