<!DOCTYPE html>

<html>
  <head>
    <title>Dry skin care</title>
    <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <p class="dry_skin">
      <h2>It seems, you have Dry Skin. This means that your face is dehyrdated often. Check out some tips below.</h2>
      <h2>What exactly does it mean?</h2>
      <h3>Your skin can crack, peel, or become itchy, irritated, or inflamed. If it’s very dry, it can become rough and scaly, especially on the backs of your hands, arms, and legs.</h3>
      <p class="tips_for_dry_skin">
        <img src="http://www.bodyandbeans.com/wp-content/uploads/2017/07/23-natural-face-care-tips-for-dry-skin-thatll-make-you-glow.jpg"/>
      </p>
  </body>
</html>

