
<!DOCTYPE html>

<html>
    <head>
      <title>Oily Skin Tips</title></head>
       <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">>
    <body>
      <p class="oily_skin"> 
     <h1> You have oily skin! Please see some tips below to best take care of your skin and have a healthy glow.</h1>
      <h2>What exactly does it mean?</h2>
      <h3></h3>
      <p class= "tips">
        <img src="https://i.pinimg.com/originals/99/1a/40/991a404d36ee050dc5b10cd05fc72917.jpg"/> 
      </p>
    </body>
</html>